@model Administrador

@{
    ViewData["Title"] = Model.NombreYApellido;
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos de @Model.NombreYApellido</h5>

                <hr />

                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Apellido)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Apellido)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Legajo)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Legajo)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.FechaAlta)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FechaAlta)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.FechaUltimaModificacion)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FechaUltimaModificacion)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.FechaUltimoAcceso)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FechaUltimoAcceso)
                    </dd>
                </dl>
                <hr />
                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">
                        Editar
                    </a>
                    <a asp-action="Index" class="btn btn-danger">
                        Cancelar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
