@model IEnumerable<juegos_mvc.Models.Compra>

@{
    ViewData["Title"] = "Compras";
}

<h1>Compras</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Juego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioOriginal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Juego.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioOriginal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioFinal)
                </td>
                <td>
                    <a class="btn btn-outline-info btn-sm ml-1" asp-action="Details" asp-route-id="@item.Id">
                        Ver Detalles
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
