@model List<Compra>

@{
    string errorMessage = TempData["Error"] as string;
    var hayError = !string.IsNullOrWhiteSpace(errorMessage);
}

<h4>Mis compras realizadas</h4>

<div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th>Título</th>
                <th>Consola</th>
                <th>Géneros</th>
                <th>Categoría</th>
                <th>Año lanzamiento</th>
                <th>Fecha</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Compra compra in Model)
            {
                <tr>
                    <td>
                        @compra.Juego.Titulo
                    </td>
                    <td>
                        <i class="@compra.Juego.Consola.IconoCss fa-2x" title="@compra.Juego.Consola.Descripcion" data-toggle="tooltip"></i>
                    </td>
                    <td>
                        <!-- Se escriben TODOS los géneros de cada juego con sus descripciones separados por coma -->
                        @string.Join(", ", compra.Juego.Generos.Select(x => x.Genero.Descripcion))
                    </td>
                    <td class="@compra.Juego.Categoria.Css">
                        @compra.Juego.Categoria.Descripcion
                    </td>
                    <td>
                        @compra.Juego.AnioLanzamiento
                    </td>
                    <td>
                        @compra.FechaCompra.ToShortDateString()
                    </td>
                    <td>
                        <span class="original-price">$ @compra.PrecioOriginal.ToString("N2")</span>
                        <br />
                        <span class="text-success">$ @compra.PrecioFinal.ToString("N2")</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (hayError)
{
    @section Scripts {
        <script>
            alertify.error('@errorMessage');
        </script>
    }
}