@model IEnumerable<juegos_mvc.Models.Consola>

@{
    ViewData["Title"] = "Consolas";
}

<h1>Consolas</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">
        Crear Consola
    </a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IconoCss)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IconoCss) <i class="@item.IconoCss"></i>
                </td>
                <td>
                    <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                        Editar
                    </a>
                    <a class="btn btn-outline-info btn-sm ml-1" asp-action="Details" asp-route-id="@item.Id">
                        Ver Detalles
                    </a>
                    <a class="btn btn-outline-danger btn-sm ml-1" asp-action="Delete" asp-route-id="@item.Id">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
