@model IEnumerable<Juego>

<partial name="~/Views/Juegos/_FormBusqueda.cshtml" />

<div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th>Título</th>
                <th>Consola</th>
                <th>Géneros</th>
                <th>Categoría</th>
                <th>Año lanzamiento</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Juego juego in Model)
            {
                <tr>
                    <td>
                        @juego.Titulo
                    </td>
                    <td>
                        <i class="@juego.Consola.IconoCss fa-2x" title="@juego.Consola.Descripcion" data-toggle="tooltip"></i>
                    </td>
                    <td>
                        <!-- Se escriben TODOS los géneros de cada juego con sus descripciones separados por coma -->
                        @string.Join(", ", juego.Generos.Select(x => x.Genero.Descripcion))
                    </td>
                    <td class="@juego.Categoria.Css">
                        @juego.Categoria.Descripcion
                    </td>
                    <td>
                        @juego.AnioLanzamiento
                    </td>
                    <td>
                        $ @juego.PrecioOriginal.ToString("N2")
                    </td>
                    <td>
                        <a class="btn btn-outline-success btn-sm" asp-action="Comprar" asp-controller="Compras" asp-route-juegoId="@juego.Id">
                            Comprar <i class="fas fa-dollar-sign"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
