@model juegos_mvc.Models.Juego

@{
    ViewData["Title"] = $"Juego {Model.Titulo}";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos de @Model.Titulo</h5>

                <hr />

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Titulo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Titulo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Stock)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Stock)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PrecioOriginal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PrecioOriginal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AnioLanzamiento)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AnioLanzamiento)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Categoria)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Categoria.Descripcion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Consola)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Consola.Descripcion)
                    </dd>
                    <dt class="col-sm-2">
                        Géneros
                    </dt>
                    <dd class="col-sm-10">
                        <ul>
                            @foreach (Genero genero in Model.Generos.Select(juegoGenero => juegoGenero.Genero))
                            {
                                <li>@genero.Descripcion</li>
                            }
                        </ul>
                    </dd>
                </dl>
                <hr />
                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">
                        Editar
                    </a>
                    <a asp-action="Index" class="btn btn-danger">
                        Cancelar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
