@model juegos_mvc.Models.Juego

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Juego</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioOriginal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioOriginal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnioLanzamiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnioLanzamiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consola)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consola.Descripcion)
        </dd>
        <dt class="col-sm-2">
            Géneros
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach(Genero genero in Model.Generos.Select(juegoGenero => juegoGenero.Genero))
                {
                    <li>@genero.Descripcion</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
