@model IEnumerable<juegos_mvc.Models.Juego>

@{
    ViewData["Title"] = "Juegos";
}

<h1>Juegos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear Juego</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioOriginal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnioLanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioOriginal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnioLanzamiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consola.Descripcion)
                </td>
                <td>
                    <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                        Editar
                    </a>
                    <a class="btn btn-outline-info btn-sm ml-1" asp-action="Details" asp-route-id="@item.Id">
                        Ver Detalles
                    </a>
                    <a class="btn btn-outline-danger btn-sm ml-1" asp-action="Delete" asp-route-id="@item.Id">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
